<!-- Footer
================================================== -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="widget">
                    <h4>About Us</h4>
                    <address>
                        <strong>İğneada-Demirköy/KIRKLARELİ</strong><br>
                        Atatürk Mahallesi, Hürriyet Caddesi<br>
                        Şafak Sokak, N0:10<br>
                        Phone Number : 0 288 694 41 72
                        Fax No : 0 288 694 40 13
                    </address>

                    <address>
                        <strong>Contact us</strong><br>
                        <a href="mailto:#">igneada.liman@udhb.gov.tr</a>
                    </address>
                </div>
            </div>
            <div class="span4">
                <div class="widget">
                    <h4>&emsp; &emsp;Browse pages</h4>
                    &emsp; &emsp; &ensp; <img src="assets/img/dummies/cagri.png" alt="" style="width: 150px; height: 80px" />
                    <ul class="nav nav-list regular">


                    </ul>
                </div>
            </div>
            <div class="span4">
                <div class="widget">
                    <h4>Get email updates</h4>
                    <form class="form-horizontal" action="#" method="post">
                        <fieldset>
                            <p>
                                Sign up for email updates and we'll plant a tree for you through Trees for the Future.
                            </p>

                            <div class="input-prepend input-append">
                                <input class="span2" id="appendedPrependedInput" type="text" placeholder="Email">
                                <button class="btn btn-inverse" type="submit">Subscribe!</button>
                            </div>
                        </fieldset>
                    </form>
                    <ul class="social_small">
                        <li class="facebook first"><a href="https://www.facebook.com/pages/I%C4%9Fneada-Liman-Ba%C5%9Fkanl%C4%B1%C4%9F%C4%B1/2090444324510089" title="Facebook">Facebook</a></li>
                        <li class="twitt"><a href="https://twitter.com/hashtag/i%C4%9Fneada" title="Twitter">Twitter</a></li>
                        <li class="googleplus"><a href="#" title="google plus">Google plus</a></li>
                        <li class="flickr"><a href="#" title="flickr">Flickr</a></li>
                        <li class="dribbble"><a href="#" title="Dribbble">Dribbble</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="verybottom">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <p>&copy; İğneada Liman Başkanlığı</p>
                </div>
                <div class="span6">
                    <div class="pull-right">
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Scaffold
                            -->

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>

