{% extends 'loginbase.html.twig' %}

{% block title %}Register Admin Page{% endblock %}

{% block body %}

    <body>
    <div class="main-wrapper">


        <div class="register-box col-md-6">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>

        <div class="auth-wrapper d-flex justify-content-center align-items-center bg-dark">
            <div class="auth-box bg-dark border-top border-secondary">
                <div id="loginform">
                    <div class="text-center p-t-20 p-b-20">
                        <br>
                        <span class="db"><img src="\assets\admin\assets\images\logo-icon.png" alt="logo" /></span>
                    </div>
                    <h1>Register</h1>

                    {{ form_start(registrationForm) }}

                    {{ form_widget(registrationForm) }}

                    {{ form_end(registrationForm) }}

                    <div id="recoverform">
                        <div class="text-center">
                            <span class="text-white">Enter your e-mail address below and we will send you instructions how to recover a password.</span>
                        </div>
                        <div class="row m-t-30">
                            <!-- Form -->
                            <form class="col-lg-3" action="index.html">
                                <!-- email -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                                    </div>
                                    <input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <!-- pwd -->
                                <div class="row m-t-20 p-t-20 border-top border-secondary">
                                    <div class="col-12">
                                        <a class="btn btn-success" href="#" id="to-login" name="action">Back To Login</a>
                                        <button class="btn btn-info float-right" type="button" name="action">Recover</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-primary" type="submit">Register</button><br>

                </div>
            </div>

        </div>

    </div>
    </body>
    </html>

{% endblock %}