
<div class="span3">
    <aside>
        <div class="widget">
            <h5 class="heading-success">&nbsp;User Menu</h5><br>
            <a href="/user"><img src="{{ asset('uploads/images/' ~ app.user.image) }}" style="height: 40px " class="img-circle"></a>
            {{ app.user.name }} {{ app.user.surname }}


            <ul>

                <li><br><a href="/user"><h5>My Profile</h5></a></li>
                <li><a href="/user/comments"><h5>My Comments</h5></a></li>
                <li><a href="/user/news"><h5>My News</h5></a></li>
                <li><a href="/user/announcement"><h5>My Announcements</h5></a></li>
                <li><a href="/user/event"><h5>My Events</h5></a></li>
                <li><a href="/logout"><h5>Logout</h5></a></li>

            </ul>
        </div>
    </aside>
</div>